body {
    background-color: beige;
    user-select: none;
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: -moz-none;
    -webkit-user-select: none;
}

h1 {
    font-size: 2em;
}


#app {
    padding: 5px;
    background-color: #eeeeee;
    overflow:hidden;
}

#rmap {
    background-color: white;
    position: relative;
    float:left;
}

#info {
    margin-left: 10px;
    float:left;
}

#controlos {

}

#zoomin {
    background-image: url('zoomin.png');
    width:32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    float: left;
    margin: 10px 10px 0 0 ;
}

#zoomout {
    background-image: url('zoomout.png');
    width:32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    float:left;
    margin: 10px 10px 0 0 ;
}

#info ul {
    display:block;
}