body {
    background-color: beige;
}

h1 {
    font-size: 2em;
}


#app {
    margin: 5px;
    
}


#rmap {
    background-color: white;
}

#controlos {
    
}

#zoomin {
    background-image: url('zoomin.png');
    width:32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    float: left;
    margin: 10px 10px 0 0 ;
}

#zoomout {
    background-image: url('zoomout.png');
    width:32px;
    height: 32px;
    background-size: 100% 100%;
    cursor: pointer;
    float:left;
    margin: 10px 10px 0 0 ;
}